.sub-folder-container {
    transition: 1s ease-in-out;

    width: fit-content;

    margin-left: 2rem;
    border-left: 1px solid gray;
    
}

.sub-folder {

    & div {
        border-bottom: 1px solid gray;
    }

    & p {

        position: relative;
        bottom: -31px;

        margin-top: 0;
        margin-left: 1rem;
        padding-left: .3rem;
        padding-right: .3rem;

        border-radius: 1px;

        font-size: large;

        background-color: white;
        color: black;

        text-shadow: rgba(171, 209, 95, 0.3) 0px 0px 25px;
    }
}